<div class="stats">
    <h2>
      Estadisticas
    </h2>
    <div class="wrapper">
      <ion-button fill="outline"> Estadisticas Tienda </ion-button>
      <ion-button fill="outline"> Estadisticas Departamentos </ion-button>
      <ion-button fill="outline"> Estadisticas Productos </ion-button>
      <ion-button fill="outline"> Estadisticas Robos </ion-button>
      <ion-button fill="outline"> Predicciones </ion-button>
      <ion-button fill="outline" class="delete"> Restablecer Estadisticas </ion-button>
    </div>
  </div>