<div class="store">
  <h2> Menu de Tienda </h2>
  <div class="wrapper">
    <ion-button fill="outline" > Inventario de productos </ion-button>
    <ion-button fill="outline"> Buscar un producto </ion-button>
    <ion-button fill="outline"  (click)="navigate('add')"> Agregar un producto </ion-button>
    <ion-button fill="outline"> Editar un producto </ion-button>
    <ion-button fill="outline" class="delete"> Eliminar producto </ion-button>
    <ion-button fill="outline" class="delete"> Restablecer tienda </ion-button>
  </div>
</div>