div.store {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0 30px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	h2 {
		color: white;
		font-size: 15px;
		padding-bottom: 15px;
	}

	.wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        
		ion-button {
			width: 100%;
		--border-radius: 5px;
		--border-color: #05c7f2;
		--background: #05c7f234;
		--color: white;
        }
        
        .delete {

            --border-color: #fd2146;
		    --background: #fd5f2134;
        }
	}
}
